.header {
  background-image: linear-gradient(to bottom, orange, white);
  padding: 15px;
}
@media screen and (min-width: 1024px) {
  .header__container {
    max-width: 80vw;
    margin: 0 auto;
  }
}
.header__description {
  margin-bottom: 1.5rem;
  font-family: "Sorts Mill Goudy", serif;
}
@media screen and (min-width: 1024px) {
  .header__description {
    font-size: 1.2rem;
  }
}
.header__title {
  margin-bottom: 1.5rem;
  font-size: 3rem;
}
@media screen and (min-width: 1024px) {
  .header__title {
    font-size: 6rem;
  }
}
.header__image {
  display: none;
}
@media screen and (min-width: 680px) {
  .header__image {
    display: block;
    width: 60%;
    margin: 0 auto;
  }
}

.footer {
  height: 100px;
  background-image: linear-gradient(to top, orange, white);
  display: grid;
  place-content: center;
  padding: 15px;
}

@media screen and (min-width: 680px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header__text {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__img {
  flex-basis: 50%;
}

@media screen and (min-width: 680px) {
  .section--grid {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 680px) {
  .card {
    flex-basis: calc((100% - 1.5rem) / 2);
  }
}
@media screen and (min-width: 1024px) {
  .card {
    flex-basis: calc((100% - 3rem) / 3);
  }
}
.card__text {
  display: flex;
}
.card__subtitle {
  flex-basis: 25%;
}
.card_description {
  flex-basis: 75%;
}
@media screen and (min-width: 680px) {
  .card--shopping-list {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .card--shopping-list {
    flex-basis: calc((100% - 3rem) / 3);
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
  font-family: "Amatic SC", cursive;
  font-weight: 400;
}

.section {
  padding: 15px;
}

@media screen and (min-width: 1024px) {
  .main {
    max-width: 80vw;
    margin: 0 auto;
  }
}

.button {
  padding: 10px 15px;
  display: block;
  width: 100px;
  border: 0;
  background-color: rgb(255, 140, 0);
  font-family: "Sorts Mill Goudy", serif;
  font-size: 1rem;
  cursor: pointer;
}
.button__link {
  text-decoration: none;
  color: black;
}

.card {
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 680px) {
  .card:nth-child(odd) {
    margin-right: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .card:nth-child(odd) {
    margin-right: 0;
  }
  .card:nth-child(3n+2) {
    margin: 0 1.5rem;
  }
}
.card__title {
  text-align: center;
  margin-bottom: 1.5rem;
}
.card__content {
  border: 1px solid black;
  padding: 15px;
}
.card__text {
  margin-bottom: 0.75rem;
}
.card__text--dinner {
  margin-bottom: 0;
}
.card__text--recipes {
  display: block;
}
.card__subtitle {
  font-weight: 700;
  font-size: 1.1rem;
  font-family: "Sorts Mill Goudy", serif;
  color: rgb(255, 140, 0);
}
.card__description {
  margin-left: 8px;
}
.card__img {
  height: 300px;
  overflow: hidden;
  margin-bottom: 0.5rem;
}
.card__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card--active {
  padding: 1.5rem;
  width: 80vw;
  height: auto;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
@media screen and (min-width: 680px) {
  .card--active {
    width: 60vw;
  }
}
.card__description--recipes {
  margin-bottom: 1.5rem;
}
.card :hover {
  cursor: pointer;
}

.card--active .card__img {
  height: 150px;
}
@media screen and (min-width: 680px) {
  .card--active .card__img {
    height: 300px;
  }
}

.section__title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .section__title {
    font-size: 5rem;
  }
}

.buttons {
  margin-bottom: 1.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 1;
}/*# sourceMappingURL=main.css.map */