<header class="header">

    <div class="header__container">

        <div class="header__text">
    
            <p class="header__description">plánuj – nakupuj – uvař</p>
            <h1 class="header__title" >Dnešní menu</h1>

            <div class="buttons">
                <button class="button button--header"><a class="button__link" href="/#/">Menu</a></button>
                <button class="button button--header"><a class="button__link" href="/recipes/">Recepty</a></button>  
            </div>

        </div>
        <div class="header__img">
            <img class="header__image" src="/images/hero.webp" alt="obrázek krůtí rolády">
        </div>
       

    </div>

</header>