<header class="header">

    <div class="header__container">

        <div class="header__text">
    
            <p class="p">plánuj – nakupuj – uvař</p>
            <h1>Dnešní menu</h1>
            <button>Recepty</button>

        </div>

        <img class="header__img" src="/images/hero.webp" alt="obrázek krůtí rolády">

    </div>

</header>