@use '../abstracts/variables';
@use '../abstracts/mixins';

.header {
  
    
    
    @include mixins.padding;
    

    @include mixins.display-med{
      
        // padding: variables.$double-spacer;
    }
    
    &__container {
        @include mixins.display-lg {
            max-width: 80vw;
            margin: 0 auto;
        }
    }

    &__description {

        margin-bottom: 20px;
       
        font-family: variables.$subtitle-font;
        @include mixins.display-med{
            margin-bottom: 0;
           }
        
        @include mixins.display-lg {
            font-size: 1.2rem;
            
           }
    }

    &__title {

       
       margin: 20px auto;
       text-align: center;
    
       font-size: 3rem;

       @include mixins.display-med{
        margin: 0;
        font-size: 4rem;
       }

       @include mixins.display-lg {
        font-size: 6rem;
        
       }
    }

    
    // &__image {
    //     display: none;
    //     @include mixins.display-med{
    //         display: block;
    //         width: 80%;
    //         margin: 0 auto;
    //         border-radius: 50%;
            
    //     }
    // }
}

.description-color{
    color: variables.$color-complementary;
    margin: 0 10px;
    font-weight: 700;
}

.buttons--header {
    margin-bottom: 0;
    background-color: transparent;
}


