@use '../abstracts/variables';
@use '../abstracts/mixins';

.button {
    border: black solid 5px;

    border-radius: 10px;
    @include mixins.padding-2dim;
    @include mixins.button;
   
   
    &__link {
        text-decoration: none;
        color: black;
        

        &--header {
            font-weight: 700;
        }
       
    }

    &--new-recipe {
        background-color:variables.$color-complementary;
    } 
    
    &:hover {
        background-color: darken(variables.$color-primary, 20%);
        color: white;
    }

    &:hover .button__link {
        color: white
    }

    &--header{
        padding: 0;
        background-color: variables.$color-primary;
        text-align: start;
        width: auto
      
    }

    &--header:hover{
        background-color: transparent;
        
    }
}

.button--new-recipe:hover {
    background-color: darken(variables.$color-complementary, 20%);
}

.buttons--header {
    margin-bottom: 0;
    
}



