@use '../abstracts/variables';
@use '../abstracts/mixins';

.button {
    @include mixins.padding-2dim;
    @include mixins.button;
   
   
    &__link {
        text-decoration: none;
        color: black;
    }

    &--new-recipe {
        background-color: variables.$color-secondary;
    } 
    
    &:hover {
        background-color: darken(variables.$color-primary, 20%);
        color: white;
    }

    &:hover .button__link {
        color: white;
    }
}

.button--new-recipe:hover {
    background-color: darken(variables.$color-secondary, 20%);
}

