@use '../abstracts/variables';
@use '../abstracts/mixins';

.button {
    @include mixins.padding-2dim;
    @include mixins.button;
   
   
    &__link {
        text-decoration: none;
        color: black;
    }

    &--new-recipe {
        background-color: variables.$color-secondary;
      
    }

    
}

