@use '../abstracts/variables';
@use '../abstracts/mixins';

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; margin: 0; padding: 0; }

body {
    font-family: variables.$default-font;

    
}

h1, h2, h3 {
    font-family: variables.$title-font;
    font-weight: 400;
}


.title {
    text-align: center;
    font-size: 3rem;
    @include mixins.margin-bottom;

    @include mixins.display-lg{
        font-size: 5rem;
    }
}

.section {
    @include mixins.padding;
}

.main {
    @include mixins.display-lg {
        max-width: 80vw;
        margin: 0 auto;
    }
}