@use '../abstracts/variables';
@use '../abstracts/mixins';

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; margin: 0; padding: 0; }

body {
    font-family: variables.$default-font;
    background-color: variables.$color-secondary;
    
}

h1, h2, h3 {
    font-family: variables.$title-font;
    font-weight: 400;
}


.title {
    text-align: center;
    font-size: 3rem;
    @include mixins.margin-bottom;

    @include mixins.display-lg{
        font-size: 5rem;
    }
}

.section {
    padding: 50px;
    // @include mixins.padding;
    @include mixins.margin-bottom;
}

.main {
    box-shadow: -9px 19px 12px 0px rgb(98, 98, 98);
    border-radius: 5px;
    background-color: white;

    @include mixins.display-lg {
        max-width: 80vw;
        margin: 0 auto;
    }
}